# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# SQLite Database
*.db

# OS files
.DS_Store
Thumbs.db

# Deployment
.vscode/
.idea/

# Others
/public/temp/
